@page
@model RegisterModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <title>NSIA Recruitment Portal</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="NSIA - Directory &amp; Listings Bootstrap Template">
    <meta name="keywords" content="bootstrap, business, directory, listings, e-commerce, car dealer, city guide, real estate, job board, user account, multipurpose, ui kit, html5, css3, javascript, gallery, slider, touch">
    <meta name="author" content="Createx Studio">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#5bbad5" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#766df4">
    <meta name="theme-color" content="#ffffff">
    <link href="~/sweetalert2.css" rel="stylesheet" />
    <!-- Page loading styles-->
    <style>
        .page-loading {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -webkit-transition: all .4s .2s ease-in-out;
            transition: all .4s .2s ease-in-out;
            background-color: #fff;
            opacity: 0;
            visibility: hidden;
            z-index: 9999;
        }

            .page-loading.active {
                opacity: 1;
                visibility: visible;
            }

        .page-loading-inner {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            text-align: center;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            -webkit-transition: opacity .2s ease-in-out;
            transition: opacity .2s ease-in-out;
            opacity: 0;
        }

        .page-loading.active > .page-loading-inner {
            opacity: 1;
        }

        .page-loading-inner > span {
            display: block;
            font-size: 1rem;
            font-weight: normal;
            color: #666276;
            ;
        }

        .page-spinner {
            display: inline-block;
            width: 2.75rem;
            height: 2.75rem;
            margin-bottom: .75rem;
            vertical-align: text-bottom;
            border: .15em solid #bbb7c5;
            border-right-color: transparent;
            border-radius: 50%;
            -webkit-animation: spinner .75s linear infinite;
            animation: spinner .75s linear infinite;
        }

        @@-webkit-keyframes spinner {
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @@keyframes spinner {
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
    </style>
    <!-- Page loading scripts-->
    <script>
        (function () {
            window.onload = function () {
                var preloader = document.querySelector('.page-loading');
                preloader.classList.remove('active');
                setTimeout(function () {
                    preloader.remove();
                }, 2000);
            };
        })();

    </script>
    <!-- Vendor Styles-->
    <link rel="stylesheet" media="screen" href="~/vendor/simplebar/dist/simplebar.min.css" />
    <link rel="stylesheet" media="screen" href="~/vendor/flatpickr/dist/flatpickr.min.css" />
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="~/css/theme.min.css">

</head>
<!-- Body-->
<body class="bg-secondary">

    <div class="page-loading active">
        <div class="page-loading-inner">
            <div class="page-spinner"></div><span>Loading...</span>
        </div>
    </div>
    <main class="page-wrapper">
        <!-- Navbar-->
        <header class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" data-scroll-header>
            <div class="container">
                <a class="navbar-brand me-0 me-xl-4" href="job-board-home-v1.html"><img class="d-block" src="~/assets/logo2.png" width="120" alt="NSIA"></a>
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button><a class="btn btn-link btn-light btn-sm d-none d-lg-block order-lg-3" href="/Identity/Account/Login"><i class="fi-user me-2"></i>Sign in</a>

                <div class="collapse navbar-collapse order-lg-2" id="navbarNav">
                    <ul class="navbar-nav navbar-nav-scroll" style="max-height: 35rem;">

                        <li class="nav-item dropdown active">
                            <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Home</a>

                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Catalog</a>

                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>

                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Blog</a>

                        </li>
                        <li class="nav-item d-lg-none"><a class="nav-link" href="/Identity/Account/Login"><i class="fi-user me-2"></i>Sign in</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <!-- Page container-->
        <div class="container mt-5 mb-md-4 py-5">
            <!-- Breadcrumb-->
            <nav class="mb-3 mb-md-4 pt-md-3" aria-label="Breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Account</li>
                </ol>
            </nav>
            <!-- Page content-->
            <div class="row justify-content-center pb-sm-2">
                <div class="col-lg-8 col-xl-8">
                    <!-- Page title-->
                    <div class="text-center pb-4 mb-3">
                        <h1 class="h2 mb-4">Register a new account </h1>
                        <p class="mb-4">Register a new account on NSIA Human Recruitment portal.</p>

                    </div>
                    <!-- Steps-->
                    <!-- Step 1: Basic Info-->
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div class="bg-light rounded-3 p-4 p-md-5 mb-3">

                            <div class="row">

                                <div class="col-sm-12 mb-4">
                                    <label class="form-label" for="pr-fn">First Name <span class='text-danger'>*</span></label>
                                    <input class="form-control form-control-lg" asp-for="Input.FirstName" type="text" id="pr-fn" placeholder="Enter your firstname" required>
                                </div>
                                <div class="col-sm-12 mb-4">
                                    <label class="form-label" for="pr-fn">Last Name <span class='text-danger'>*</span></label>
                                    <input class="form-control form-control-lg" asp-for="Input.LastName" type="text" id="pr-fn" placeholder="Enter your lastname" required>
                                </div>
                                <div class="col-sm-12 mb-4">
                                    <label class="form-label" for="pr-fn">Email <span class='text-danger'>*</span></label>
                                    <input class="form-control form-control-lg" asp-for="Input.Email" type="text" id="pr-fn" placeholder="Enter your email" required>
                                </div>
                                <div class="col-sm-12 mb-4">
                                    <label class="form-label" for="pr-sn">Password <span class='text-danger'>*</span></label>
                                    <input class="form-control form-control-lg" asp-for="Input.Password" type="password" id="pr-sn" placeholder="Enter your password" required>
                                </div>
                                <div class="col-sm-12 mb-4">
                                    <label class="form-label" for="pr-sn">Confirm Password <span class='text-danger'>*</span></label>
                                    <input class="form-control form-control-lg" asp-for="Input.ConfirmPassword" type="password" id="pr-sn" placeholder="Enter your password" required>
                                </div>

                                <div>
                                    <button type="submit" class="btn btn-primary btn-lg rounded-pill ms-sm-auto">Submit<i class="fi-chevron-right fs-sm ms-2"></i></button>

                                    <a href="/Identity/Account/Login" style="float:right;" class="btn btn-info btn-lg rounded-pill ms-sm-auto">Click to Log In<i class="fi-chevron-right fs-sm ms-2"></i></a>
                                </div>


                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </main>
    <!-- Footer-->
    <footer class="footer bg-dark pt-5">
        <div class="container pb-2">

            <p class="fs-sm text-center text-sm-start mb-4"><span class="text-light opacity-50">&copy; All rights reserved. Made by </span><a class="nav-link-light fw-bold" href="https://nsiainsurance.com" target="_blank" rel="noopener">NSIA INSURANCE IT</a></p>
        </div>
    </footer>
    <!-- Back to top button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon fi-chevron-up">   </i></a>
    <!-- Vendor scrits: js libraries and plugins-->
    <script src="~/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="~/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="~/vendor/flatpickr/dist/flatpickr.min.js"></script>
    <!-- Main theme script-->
    <script src="~/js/theme.min.js"></script>
    <script src="~/sweetalert2.min.js"></script>
    @if (TempData["success"] != null)
    {
        <script type="text/javascript">
            Swal({
                type: 'success',
                title: 'Thank you',
                html: 'Your account has been created. Kindly login to the account and apply for the job.'

            })
        </script>
    }
    else if (TempData["error"] != null)
    {
        <script type="text/javascript">
            Swal({
                type: 'error',
                title: 'Failed Registration !',
                html: 'Opps!!! An error occurred during the registration. Kindly cross-check the supplied information and try again.'

            })
        </script>
    }
</body>

</html>


