<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from finder.createx.studio/job-board-account-my-resumes.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 28 Sep 2021 07:41:12 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <title>NSIA Recruitment Portal</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="Finder - Directory &amp; Listings Bootstrap Template">
    <meta name="keywords" content="bootstrap, business, directory, listings, e-commerce, car dealer, city guide, real estate, job board, user account, multipurpose, ui kit, html5, css3, javascript, gallery, slider, touch">
    <meta name="author" content="Createx Studio">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#5bbad5" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#766df4">
    <meta name="theme-color" content="#ffffff">
    <!-- Page loading styles-->
    <style>
        .page-loading {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -webkit-transition: all .4s .2s ease-in-out;
            transition: all .4s .2s ease-in-out;
            background-color: #fff;
            opacity: 0;
            visibility: hidden;
            z-index: 9999;
        }

            .page-loading.active {
                opacity: 1;
                visibility: visible;
            }

        .page-loading-inner {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            text-align: center;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            -webkit-transition: opacity .2s ease-in-out;
            transition: opacity .2s ease-in-out;
            opacity: 0;
        }

        .page-loading.active > .page-loading-inner {
            opacity: 1;
        }

        .page-loading-inner > span {
            display: block;
            font-size: 1rem;
            font-weight: normal;
            color: #666276;
            ;
        }

        .page-spinner {
            display: inline-block;
            width: 2.75rem;
            height: 2.75rem;
            margin-bottom: .75rem;
            vertical-align: text-bottom;
            border: .15em solid #bbb7c5;
            border-right-color: transparent;
            border-radius: 50%;
            -webkit-animation: spinner .75s linear infinite;
            animation: spinner .75s linear infinite;
        }

        @@-webkit-keyframes spinner {
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @@keyframes spinner {
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
    </style>
    <!-- Page loading scripts-->
    <script>
        (function () {
            window.onload = function () {
                var preloader = document.querySelector('.page-loading');
                preloader.classList.remove('active');
                setTimeout(function () {
                    preloader.remove();
                }, 2000);
            };
        })();

    </script>
    <!-- Vendor Styles-->
    <link rel="stylesheet" media="screen" href="~/vendor/simplebar/dist/simplebar.min.css" />
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="~/css/theme.min.css">

</head>
<!-- Body-->
<body class="bg-secondary">

    <!-- Page loading spinner-->
    <div class="page-loading active">
        <div class="page-loading-inner">
            <div class="page-spinner"></div><span>Loading...</span>
        </div>
    </div>
    <main class="page-wrapper">
        <!-- Navbar-->
        <header class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" data-scroll-header>
            <div class="container">
                <a class="navbar-brand me-0 me-xl-4" href="job-board-home-v1.html"><img class="d-block" src="~/img/logo/logo-light.svg" width="116" alt="Finder"></a>
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="dropdown d-none d-lg-block order-lg-3 my-n2 me-3">
                    <a class="d-block py-2" href="job-board-account-profile.html"><img class="rounded-circle" src="~/img/avatars/35.png" width="40" alt="Annette Black"></a>
                    <div class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                        <div class="d-flex align-items-start border-bottom border-light px-3 py-1 mb-2" style="width: 16rem;">
                            <img class="rounded-circle" src="~/img/avatars/25.png" width="48" alt="Annette Black">
                            <div class="ps-2">
                                <h6 class="fs-base text-light mb-0">Annette Black</h6>
                                <div class="fs-xs py-2">(302) 555-0107<br>annette_black@email.com</div>
                            </div>
                        </div><a class="dropdown-item" href="job-board-account-profile.html"><i class="fi-settings me-2"></i>Profile Settings</a><a class="dropdown-item" href="job-board-account-my-resumes.html"><i class="fi-file me-2"></i>My Resumes</a><a class="dropdown-item" href="job-board-account-saved-jobs.html"><i class="fi-heart me-2"></i>Saved Jobs</a><a class="dropdown-item" href="job-board-account-notifications.html"><i class="fi-bell me-2"></i>Notifications</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fi-logout me-2"></i>Sign Out</a>
                    </div>
                </div>
                @*<a class="btn btn-primary btn-sm rounded-pill ms-2 order-lg-3" href="job-board-post-resume-1.html"><i class="fi-plus me-2"></i>Post resume</a><a class="btn btn-link btn-light btn-sm d-none d-lg-block order-lg-3 pe-0 ms-2" href="job-board-home-v2.html">For employers<i class="fi-arrow-long-right ms-2"></i></a>*@
                <div class="collapse navbar-collapse order-lg-2" id="navbarNav">
                    <ul class="navbar-nav navbar-nav-scroll" style="max-height: 35rem;">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Home</a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="job-board-home-v1.html">For Job Seekers</a></li>
                                <li><a class="dropdown-item" href="job-board-home-v2.html">For Employers</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Catalog</a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="job-board-catalog.html">List of Jobs</a></li>
                                <li><a class="dropdown-item" href="job-board-single.html">Single Job Page</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li class="dropdown">
                                    <a class="dropdown-item dropdown-toggle" href="#">Account Pages</a>
                                    <ul class="dropdown-menu dropdown-menu-dark">
                                        <li><a class="dropdown-item" href="job-board-account-profile.html">Profile Settings</a></li>
                                        <li><a class="dropdown-item" href="job-board-account-my-resumes.html">My Resumes</a></li>
                                        <li><a class="dropdown-item" href="job-board-account-saved-jobs.html">Saved Jobs</a></li>
                                        <li><a class="dropdown-item" href="job-board-account-notifications.html">Notifications</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-item dropdown-toggle" href="#">Post Resume</a>
                                    <ul class="dropdown-menu dropdown-menu-dark">
                                        <li><a class="dropdown-item" href="job-board-post-resume-1.html">Step 1: Basic Info</a></li>
                                        <li><a class="dropdown-item" href="job-board-post-resume-2.html">Step 2: Education</a></li>
                                        <li><a class="dropdown-item" href="job-board-post-resume-3.html">Step 3: Work Experience</a></li>
                                        <li><a class="dropdown-item" href="job-board-post-resume-4.html">Step 4: Skills</a></li>
                                        <li><a class="dropdown-item" href="job-board-post-resume-5.html">Step 5: Review</a></li>
                                    </ul>
                                </li>
                                <li><a class="dropdown-item" href="job-board-promotion.html">Ad Promotion Page</a></li>
                                <li><a class="dropdown-item" href="job-board-employer-single.html">Employer / Company Page</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Blog</a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="job-board-blog.html">Blog List</a></li>
                                <li><a class="dropdown-item" href="job-board-blog-single.html">Single Post</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown d-lg-none">
                            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img class="rounded-circle me-2" src="~/img/avatars/35.png" width="30" alt="Annette Black">Annette Black</a>
                            <div class="dropdown-menu dropdown-menu-dark">
                                <div class="ps-3">
                                    <div class="fs-xs py-2">(302) 555-0107<br>annette_black@email.com</div>
                                </div><a class="dropdown-item" href="job-board-account-profile.html"><i class="fi-settings me-2"></i>Profile Settings</a><a class="dropdown-item" href="job-board-account-my-resumes.html"><i class="fi-file me-2"></i>My Resumes</a><a class="dropdown-item" href="job-board-account-saved-jobs.html"><i class="fi-heart me-2"></i>Saved Jobs</a><a class="dropdown-item" href="job-board-account-notifications.html"><i class="fi-bell me-2"></i>Notifications</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fi-logout me-2"></i>Sign Out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <!-- Page container-->
        <div class="position-absolute top-0 start-0 w-100 bg-dark" style="height: 398px;"></div>
        @RenderBody()
    </main>
    <!-- Footer-->
    <footer class="footer bg-dark pt-5">
        <div class="container pb-2">

            <p class="fs-sm text-center text-sm-start mb-4"><span class="text-light opacity-50">&copy; All rights reserved. Made by </span><a class="nav-link-light fw-bold" href="https://createx.studio/" target="_blank" rel="noopener">Createx Studio</a></p>
        </div>
    </footer>
    <!-- Back to top button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon fi-chevron-up">   </i></a>
    <!-- Vendor scrits: js libraries and plugins-->
    <script src="~/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="~/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <!-- Main theme script-->
    <script src="~/js/theme.min.js"></script>
</body>


</html>