<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Work Stocks - Innovative & Modern Job Board Template</title>

    <!-- All Plugins Css -->
    <link href="~/assets/css/plugins.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/assets/css/styles.css" rel="stylesheet">

    <!-- Custom Color -->
    <link href="~/assets/css/skin/default.css" rel="stylesheet">
</head>

<body class="green-skin">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="Loader"></div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Top header  -->
        <!-- ============================================================== -->
        <!-- Start Navigation -->
        <div class="header header-light">
            <div class="container-fluid">
                <nav id="navigation" class="navigation navigation-landscape">
                    <div class="nav-header">
                        <a class="nav-brand" href="#">
                            <img src="~/assets/img/logo.png" class="logo" alt="" />
                        </a>
                        <div class="nav-toggle"></div>
                    </div>
                    <div class="nav-menus-wrapper" style="transition-property: none;">
                        <ul class="nav-menu">

                            <li class="active">
                                <a href="#">Home<span class="submenu-indicator"></span></a>
                                <ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">
                                    <li><a href="index.html" class="active">Home Style 1</a></li>
                                    <li><a href="home-2.html">Home Style 2</a></li>
                                    <li><a href="home-3.html">Home Style 3</a></li>
                                    <li><a href="home-4.html">Home Style 4</a></li>
                                    <li><a href="home-5.html">Home Style 5</a></li>
                                    <li><a href="home-6.html">Home Style 6</a></li>
                                    <li><a href="home-7.html">Home Style 7</a></li>
                                    <li><a href="home-8.html">Home Style 8</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="#">For Candidates<span class="submenu-indicator"></span></a>
                                <ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">
                                    <li>
                                        <a href="#">Search job Option<span class="submenu-indicator"></span></a>
                                        <ul class="nav-dropdown nav-submenu" style="display: none;">
                                            <li><a href="search-full-width.html">Search Job Full Width</a></li>
                                            <li><a href="search-with-sidebar.html">Search Job with Sidebar</a></li>
                                            <li><a href="search-with-sidebar-2.html">Search job with Sidebar 2</a></li>
                                            <li><a href="search-with-sidebar-3.html">Search Job with Sidebar 3</a></li>
                                            <li><a href="search-with-detail-job.html">Search job With Detail</a></li>
                                            <li><a href="search-with-sidebar-list.html">Search Jobs List</a></li>
                                            <li><a href="search-with-sidebar-list-2.html">Search jobs List 2</a></li>
                                            <li><a href="employers-list.html">Search Employers Sidebar</a></li>
                                            <li><a href="freelancer-detail.html">Employers Detail</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Map Option<span class="submenu-indicator"></span></a>
                                        <ul class="nav-dropdown nav-submenu" style="display: none;">
                                            <li><a href="half-map-grid.html">Find Job On Map</a></li>
                                            <li><a href="half-map-list.html">Fins Job On Map List</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Job Detail<span class="submenu-indicator"></span></a>
                                        <ul class="nav-dropdown nav-submenu" style="display: none;">
                                            <li><a href="job-detail.html">Single Job 1</a></li>
                                            <li><a href="job-detail-2.html">Single Job 2</a></li>
                                            <li><a href="job-detail-3.html">Single Job 3</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="candidate-dashboard.html">Candidate Dashboard</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="#">For Employers<span class="submenu-indicator"></span></a>
                                <ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">
                                    <li><a href="candidate-grid.html">Browse Candidates Grid</a></li>
                                    <li><a href="candidate-list.html">Browse Candidates List</a></li>
                                    <li><a href="search-freelancers.html">Search Freelancers</a></li>
                                    <li><a href="search-freelancers-list.html">Search Freelancers List</a></li>
                                    <li><a href="freelancer-detail.html">Freelancer Detail</a></li>
                                    <li>
                                        <a href="#">Search with Map<span class="submenu-indicator"></span></a>
                                        <ul class="nav-dropdown nav-submenu" style="display: none;">
                                            <li><a href="browse-candidates-with-map-grid.html">Search Candidate Grid</a></li>
                                            <li><a href="browse-candidates-with-map.html">Search Candidate List</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="employer-dashboard.html">Employer Dashboard</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="#">Pages<span class="submenu-indicator"></span></a>
                                <ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">
                                    <li><a href="blog.html">Blogs Page</a></li>
                                    <li><a href="blog-detail.html">Blog Detail</a></li>
                                    <li><a href="shortcodes.html">Shortcodes</a></li>
                                    <li><a href="pricing.html">Pricing</a></li>
                                    <li><a href="employers-full-width.html">Find Employers</a></li>
                                    <li><a href="all-jobs.html">Jobs Widgets</a></li>
                                    <li><a href="login.html">LogIn</a></li>
                                </ul>
                            </li>

                            <li><a href="contact.html">Contacts</a></li>

                        </ul>

                        <ul class="nav-menu nav-menu-social align-to-right">
                            <li class="add-listing theme-bg">
                                <a href="#">
                                    <i class="ti-plus"></i> Log Out
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- End Navigation -->
        <div class="clearfix"></div>
        <!-- ============================================================== -->
        <!-- Top header  -->
        <!-- ============================================================== -->
        <!-- ============================ Hero Banner  Start================================== -->
        <div class="page-title-wrap">
            <div class="container">
                <div class="col-lg-12 col-md-12">
                    <div class="pt-caption">
                        <h1>Hello! Adam</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <!-- ============================ Hero Banner End ================================== -->
        <!-- ============== Candidate Dashboard ====================== -->
        <section class="tr-single-detail gray-bg">
            <div class="container">
                <div class="row">

                    <!-- Sidebar Start -->
                    <div class="col-md-4 col-sm-12">
                        <div class="dashboard-wrap">

                            <div class="dashboard-thumb">
                                <div class="dashboard-th-pic">
                                    <img src="~/assets/img/user-3.jpg" class="img-fluid mx-auto img-circle" alt="" />
                                </div>
                                <h4 class="mb-1">Adam Muklarial</h4>
                                <span class="text-success">Web Designer</span>
                            </div>

                            <!-- Nav tabs -->
                            <ul class="nav dashboard-verticle-nav">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#profile"><i class="ti-user"></i>My Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#resume"><i class="ti-file"></i>My Resume</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#shortlisted"><i class="lni-heart-filled"></i>Shortlisted Job</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#applied"><i class="lni-briefcase"></i>Applied jobs</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#alert"><i class="lni-alarm"></i>Alert job</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#cv"><i class="ti-email"></i>CV & Cover Letter</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#package"><i class="lni-tag"></i>Package</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="candidate-detail.html"><i class="lni-user"></i>View Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#change-password"><i class="lni-lock"></i>Change Password</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:void(0)"><i class="lni-trash"></i>Delete Account</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="login.html"><i class="lni-exit"></i>Log Out</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <!-- /col-md-4 -->

                    @RenderBody()

                </div>
            </div>
        </section>
        <!-- ============== Candidate Dashboard ====================== -->
        <!-- ============================ Newsletter Start ================================== -->
        <section class="alert-wrap pt-5 pb-5" style="background: #00a94f url(../../assets/img/bg2.png);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="jobalert-sec">
                            <h3 class="mb-1 text-light">Get New Jobs Notification!</h3>
                            <p class="text-light">Subscribe & get all related jobs notification.</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter Your Email">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-black black">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ============================ Newsletter Start ================================== -->
        <!-- ============================ Footer Start ================================== -->
        <footer class="dark-footer skin-dark-footer">
            <div>
                <div class="container">
                    <div class="row">

                        <div class="col-lg-3 col-md-3">
                            <div class="footer-widget">
                                <img src="~/assets/img/logo-light.png" class="img-footer" alt="" />
                                <div class="footer-add">
                                    <p>Collins Street West, Victoria,</br> Australia (AU4578).</p>
                                    <p><strong>Email:</strong></br><a href="#">hello@workstock.com</a></p>
                                    <p><strong>Call:</strong></br>91 855 742 62548</p>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <div class="footer-widget">
                                <h4 class="widget-title">Navigations</h4>
                                <ul class="footer-menu">
                                    <li><a href="#">New Home Design</a></li>
                                    <li><a href="#">Browse Candidates</a></li>
                                    <li><a href="#">Browse Employers</a></li>
                                    <li><a href="#">Advance Search</a></li>
                                    <li><a href="#">Job With Map</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2">
                            <div class="footer-widget">
                                <h4 class="widget-title">The Highlights</h4>
                                <ul class="footer-menu">
                                    <li><a href="#">Home Page 2</a></li>
                                    <li><a href="#">Home Page 3</a></li>
                                    <li><a href="#">Home Page 4</a></li>
                                    <li><a href="#">Home Page 5</a></li>
                                    <li><a href="#">LogIn</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2">
                            <div class="footer-widget">
                                <h4 class="widget-title">My Account</h4>
                                <ul class="footer-menu">
                                    <li><a href="#">Dashboard</a></li>
                                    <li><a href="#">Applications</a></li>
                                    <li><a href="#">Packages</a></li>
                                    <li><a href="#">resume.html</a></li>
                                    <li><a href="#">SignUp Page</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3">
                            <div class="footer-widget">
                                <h4 class="widget-title">Download Apps</h4>
                                <a href="#" class="other-store-link">
                                    <div class="other-store-app">
                                        <div class="os-app-icon">
                                            <i class="ti-android theme-cl"></i>
                                        </div>
                                        <div class="os-app-caps">
                                            Google Play
                                            <span>Get It Now</span>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="other-store-link">
                                    <div class="other-store-app">
                                        <div class="os-app-icon">
                                            <i class="ti-apple theme-cl"></i>
                                        </div>
                                        <div class="os-app-caps">
                                            App Store
                                            <span>Now it Available</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-lg-6 col-md-6">
                            <p class="mb-0">© 2020 Work Stocks. Designd By PixelExperts All Rights Reserved</p>
                        </div>

                        <div class="col-lg-6 col-md-6 text-right">
                            <ul class="footer-bottom-social">
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter"></i></a></li>
                                <li><a href="#"><i class="ti-instagram"></i></a></li>
                                <li><a href="#"><i class="ti-linkedin"></i></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
        <!-- ============================ Footer End ================================== -->


    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/select2.min.js"></script>
    <script src="~/assets/js/aos.js"></script>
    <script src="~/assets/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/jquery.counterup.min.js"></script>
    <script src="~/assets/js/slick.js"></script>
    <script src="~/assets/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/js/isotope.min.js"></script>
    <script src="~/assets/js/summernote.js"></script>
    <script src="~/assets/js/jQuery.style.switcher.js"></script>

    <script src="~/assets/js/counterup.min.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->

    <script>
        $(function () {
            $('.datepicker').datepicker({
                format: 'mm-dd-yyyy'
            });
        });
    </script>

</body>

</html>