
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-8 col-sm-12">
    <!-- Tab panes -->
    <div class="tab-content">

        <!-- My Profile -->
        <div class="tab-pane active container" id="profile">

            <!-- Basic Info -->
            <div class="tr-single-box">
                <div class="tr-single-header">
                    <h4><i class="ti-desktop"></i> Basic Info</h4>
                </div>

                <div class="tr-single-body">
                    <div class="row">

                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label>Full Name</label>
                                <input class="form-control" type="text" value="Adam Muklarial">
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label>Job Title</label>
                                <input class="form-control" type="text" value="Web Designer & Developer">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Specialisms</label>
                                <input class="form-control" type="text" value="Marketing">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Min Sallery</label>
                                <input class="form-control" type="text" value="10000">
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label>Overview</label>
                                <div id="summernote"><p>Hello Description</p></div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label>Candidate Logo</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="clogo">
                                    <label class="custom-file-label" for="clogo">Choose file</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label>Cover Picture</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="ccover">
                                    <label class="custom-file-label" for="ccover">Choose file</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- /Basic Info -->
            <!-- Contact Info -->
            <div class="tr-single-box">
                <div class="tr-single-header">
                    <h4><i class="ti-headphone"></i> Contact Info</h4>
                </div>

                <div class="tr-single-body">
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label class="social-nfo">Phone Number</label>
                                <input class="form-control" type="text" value="91 254 548 7584">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label class="social-nfo">Email</label>
                                <input class="form-control" type="text" value="drizvato@gmail.com">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label class="social-nfo">Website</label>
                                <input class="form-control" type="text" value="https://drizvato.com/">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label class="social-nfo">Country</label>
                                <input class="form-control" type="text" value="India">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label class="social-nfo">City</label>
                                <input class="form-control" type="text" value="Chandigarh">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label class="social-nfo">Complete Address</label>
                                <input class="form-control" type="text" value="2850, Near Gurudwara">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label class="social-nfo">Latitude</label>
                                <input class="form-control" type="text" value="-0.3306495">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label class="social-nfo">Longitude</label>
                                <input class="form-control" type="text" value="51.5353994">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- /Contact Info -->
            <!-- Social Account -->
            <div class="tr-single-box">
                <div class="tr-single-header">
                    <h4><i class="ti-new-window"></i> Social Account</h4>
                </div>

                <div class="tr-single-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label class="social-nfo"><i class="lni-facebook"></i>Facebook URL</label>
                                <input class="form-control" type="text" value="https://facebook.com/">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label class="social-nfo"><i class="lni-google-plus"></i>Google+ URL</label>
                                <input class="form-control" type="text" value="https://plus.google.com/">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label class="social-nfo"><i class="lni-linkedin"></i>LinkedIn URL</label>
                                <input class="form-control" type="text" value="https://linkedin.com/">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label class="social-nfo"><i class="lni-twitter"></i>Twitter URL</label>
                                <input class="form-control" type="text" value="htps://twitter.com">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label class="social-nfo"><i class="lni-instagram"></i>Instagram URL</label>
                                <input class="form-control" type="text" value="https://instagram.com/">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label class="social-nfo"><i class="lni-pinterest"></i>Pinterest URL</label>
                                <input class="form-control" type="text" value="https://pinterest.com/">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /Social Account -->
            <!-- Advance Information -->
            <div class="tr-single-box">
                <div class="tr-single-header">
                    <h4><i class="ti-heart"></i> Advance Information</h4>
                </div>

                <div class="tr-single-body">
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label class="social-nfo">Experience</label>
                                <input class="form-control" type="text" value="91 254 548 7584">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label class="social-nfo">Age</label>
                                <input class="form-control" type="text" value="drizvato@gmail.com">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label class="social-nfo">Current Salary($)</label>
                                <input class="form-control" type="text" value="https://drizvato.com/">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label class="social-nfo">Expected Salary($)</label>
                                <input class="form-control" type="text" value="India">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label class="social-nfo">Languages</label>
                                <input class="form-control" type="text" value="Chandigarh">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label class="social-nfo">Education Levels</label>
                                <input class="form-control" type="text" value="2850, Near Gurudwara">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- /Advance Information -->

            <a href="#" class="btn btn-info btn-md full-width">Save & Update<i class="ml-2 ti-arrow-right"></i></a>

        </div>

        <!-- My Resume -->
        <div class="tab-pane" id="resume">

            <!-- Add Educations -->
            <div class="tr-single-box">
                <div class="tr-single-header">
                    <h4><i class="lni-graduation"></i> Add Education</h4>
                </div>

                <div class="tr-single-body">
                    <table class="table table-striped mb-5">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Qualification</th>
                                <th scope="col">Dates</th>
                                <th scope="col">School / Colleges</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Masters In Fine Arts</th>
                                <td>2002 - 2004</td>
                                <td>Virazia University</td>
                                <td>
                                    <div class="dash-action">
                                        <a href="#" class="dg-edit" data-toggle="tooltip" data-placement="top" title="Edit"><i class="ti-pencil"></i></a>
                                        <a href="#" class="dg-delete" data-toggle="tooltip" data-placement="top" title="Delete"><i class="ti-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Tommers College</th>
                                <td>2012 - 2015</td>
                                <td>Bachlors in Fine Arts</td>
                                <td>
                                    <div class="dash-action">
                                        <a href="#" class="dg-edit" data-toggle="tooltip" data-placement="top" title="Edit"><i class="ti-pencil"></i></a>
                                        <a href="#" class="dg-delete" data-toggle="tooltip" data-placement="top" title="Delete"><i class="ti-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Diploma In Fine Arts</th>
                                <td>2014 - 2015</td>
                                <td>Imperieal of Art Direction</td>
                                <td>
                                    <div class="dash-action">
                                        <a href="#" class="dg-edit" data-toggle="tooltip" data-placement="top" title="Edit"><i class="ti-pencil"></i></a>
                                        <a href="#" class="dg-delete" data-toggle="tooltip" data-placement="top" title="Delete"><i class="ti-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="price-list-wrap">
                        <tbody class="ui-sortable">
                            <tr class="pricing-list-item pattern ui-sortable-handle">
                                <td>
                                    <div class="box-close"><a class="delete" href="#"><i class="ti-close"></i></a></div>
                                    <div class="row">

                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label>Title</label>
                                                <input class="form-control" type="text" value="Adam Muklarial">
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label>From</label>
                                                <input placeholder="06.11.2007" type="text" class="form-control datepicker">
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label>To</label>
                                                <input placeholder="07.17.2010" type="text" class="form-control datepicker">
                                            </div>
                                        </div>


                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label>University</label>
                                                <input placeholder="University Name" type="text" class="form-control">
                                            </div>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="#" class="btn add-pr-item-btn">Add Item</a>
                </div>

            </div>
            <!-- /Education Info -->
            <!-- Add Experience -->
            <div class="tr-single-box">
                <div class="tr-single-header">
                    <h4><i class="lni-briefcase"></i> Experience</h4>
                </div>

                <div class="tr-single-body">
                    <table class="table table-striped mb-5">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Skills @@ Company</th>
                                <th scope="col">Dates</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Wordpress Developer at Gio Tech</th>
                                <td>2002 - 2004</td>
                                <td>
                                    <div class="dash-action">
                                        <a href="#" class="dg-edit" data-toggle="tooltip" data-placement="top" title="Edit"><i class="ti-pencil"></i></a>
                                        <a href="#" class="dg-delete" data-toggle="tooltip" data-placement="top" title="Delete"><i class="ti-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">PHP Developer at Hint Solution</th>
                                <td>2012 - 2015</td>
                                <td>
                                    <div class="dash-action">
                                        <a href="#" class="dg-edit" data-toggle="tooltip" data-placement="top" title="Edit"><i class="ti-pencil"></i></a>
                                        <a href="#" class="dg-delete" data-toggle="tooltip" data-placement="top" title="Delete"><i class="ti-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Web Designer at Indo Soft</th>
                                <td>2014 - 2015</td>
                                <td>
                                    <div class="dash-action">
                                        <a href="#" class="dg-edit" data-toggle="tooltip" data-placement="top" title="Edit"><i class="ti-pencil"></i></a>
                                        <a href="#" class="dg-delete" data-toggle="tooltip" data-placement="top" title="Delete"><i class="ti-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="price-list-wrap">
                        <tbody class="ui-sortable">
                            <tr class="pricing-list-item pattern ui-sortable-handle">
                                <td>
                                    <div class="box-close"><a class="delete" href="#"><i class="ti-close"></i></a></div>
                                    <div class="row">

                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label>Title</label>
                                                <input class="form-control" type="text" value="Skill & Company">
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label>From</label>
                                                <input placeholder="06.11.2007" type="text" class="form-control datepicker">
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label>To</label>
                                                <input placeholder="07.17.2010" type="text" class="form-control datepicker">
                                            </div>
                                        </div>


                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label>Company</label>
                                                <input placeholder="Company Name" type="text" class="form-control">
                                            </div>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="#" class="btn add-pr-item-btn">Add Item</a>
                </div>

            </div>
            <!-- /Experience Info -->
            <!-- Add Skills -->
            <div class="tr-single-box">
                <div class="tr-single-header">
                    <h4><i class="lni-briefcase"></i> Skill Or Expertise</h4>
                </div>

                <div class="tr-single-body">
                    <table class="table table-striped mb-5">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Skills @@ Company</th>
                                <th scope="col">Lavel</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Graphic Design</th>
                                <td>65</td>
                                <td>
                                    <div class="dash-action">
                                        <a href="#" class="dg-edit" data-toggle="tooltip" data-placement="top" title="Edit"><i class="ti-pencil"></i></a>
                                        <a href="#" class="dg-delete" data-toggle="tooltip" data-placement="top" title="Delete"><i class="ti-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">PHP Developer</th>
                                <td>75</td>
                                <td>
                                    <div class="dash-action">
                                        <a href="#" class="dg-edit" data-toggle="tooltip" data-placement="top" title="Edit"><i class="ti-pencil"></i></a>
                                        <a href="#" class="dg-delete" data-toggle="tooltip" data-placement="top" title="Delete"><i class="ti-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Web Designer</th>
                                <td>88</td>
                                <td>
                                    <div class="dash-action">
                                        <a href="#" class="dg-edit" data-toggle="tooltip" data-placement="top" title="Edit"><i class="ti-pencil"></i></a>
                                        <a href="#" class="dg-delete" data-toggle="tooltip" data-placement="top" title="Delete"><i class="ti-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="price-list-wrap">
                        <tbody class="ui-sortable">
                            <tr class="pricing-list-item pattern ui-sortable-handle">
                                <td>
                                    <div class="box-close"><a class="delete" href="#"><i class="ti-close"></i></a></div>
                                    <div class="row">

                                        <div class="col-lg-9 col-md-9 col-sm-8">
                                            <div class="form-group">
                                                <label>Skills</label>
                                                <input class="form-control" type="text" value="Skills">
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-3 col-sm-4">
                                            <div class="form-group">
                                                <label>Lavel</label>
                                                <input placeholder="68" type="text" class="form-control">
                                            </div>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="#" class="btn add-pr-item-btn">Add Item</a>
                </div>

            </div>
            <!-- /Skills Info -->

            <a href="#" class="btn btn-info btn-md full-width">Save & Update<i class="ml-2 ti-arrow-right"></i></a>

        </div>

        <!-- shortlisted -->
        <div class="tab-pane" id="shortlisted">

            <div class="tr-single-box">
                <div class="tr-single-header">
                    <h4><i class="ti-check"></i> Shortlisted Jobs</h4>
                </div>

                <div class="tr-single-body">

                    <!-- Single Manage List -->
                    <div class="manage-list">

                        <div class="mg-list-wrap">
                            <div class="mg-list-thumb">
                                <img src="~/assets/img/google.png" class="mx-auto" alt="" />
                            </div>
                            <div class="mg-list-caption">
                                <h4 class="mg-title">Web Designer</h4>
                                <span class="mg-subtitle">Google Info</span>
                                <span><em>Last activity</em> 4 weeks ago. <em>Posted</em> 4 weeks ago</span>

                            </div>
                        </div>

                        <div class="mg-action">
                            <div class="btn-group ml-2">
                                <a href="job-detail.html" class="btn btn-view" data-toggle="tooltip" data-placement="top" title="View Job"><i class="ti-eye"></i></a>
                            </div>
                        </div>

                    </div>

                    <!-- Single Manage List -->
                    <div class="manage-list">

                        <div class="mg-list-wrap">
                            <div class="mg-list-thumb">
                                <img src="~/assets/img/google.png" class="mx-auto" alt="" />
                            </div>
                            <div class="mg-list-caption">
                                <h4 class="mg-title">Web Designer</h4>
                                <span class="mg-subtitle">Google Info</span>
                                <span><em>Last activity</em> 4 weeks ago. <em>Posted</em> 4 weeks ago</span>

                            </div>
                        </div>

                        <div class="mg-action">
                            <div class="btn-group ml-2">
                                <a href="job-detail.html" class="btn btn-view" data-toggle="tooltip" data-placement="top" title="View Job"><i class="ti-eye"></i></a>
                            </div>
                        </div>

                    </div>

                    <!-- Single Manage List -->
                    <div class="manage-list">

                        <div class="mg-list-wrap">
                            <div class="mg-list-thumb">
                                <img src="~/assets/img/google.png" class="mx-auto" alt="" />
                            </div>
                            <div class="mg-list-caption">
                                <h4 class="mg-title">Web Designer</h4>
                                <span class="mg-subtitle">Google Info</span>
                                <span><em>Last activity</em> 4 weeks ago. <em>Posted</em> 4 weeks ago</span>

                            </div>
                        </div>

                        <div class="mg-action">
                            <div class="btn-group ml-2">
                                <a href="job-detail.html" class="btn btn-view" data-toggle="tooltip" data-placement="top" title="View Job"><i class="ti-eye"></i></a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <!-- applied job -->
        <div class="tab-pane" id="applied">

            <div class="tr-single-box">
                <div class="tr-single-header">
                    <h4><i class="ti-briefcase"></i> Applied job</h4>
                </div>

                <div class="tr-single-body">

                    <!-- Single Manage List -->
                    <div class="manage-list">

                        <div class="mg-list-wrap">
                            <div class="mg-list-thumb">
                                <img src="~/assets/img/google.png" class="mx-auto" alt="" />
                            </div>
                            <div class="mg-list-caption">
                                <h4 class="mg-title">Web Designer</h4>
                                <span class="mg-subtitle">Google Info</span>
                                <span><em>Last activity</em> 4 weeks ago. <em>Posted</em> 4 weeks ago</span>

                            </div>
                        </div>

                        <div class="mg-action">
                            <div class="btn-group ml-2">
                                <a href="job-detail.html" class="btn btn-view" data-toggle="tooltip" data-placement="top" title="View Job"><i class="ti-eye"></i></a>
                                <a href="#" class="mg-delete ml-2" data-toggle="tooltip" data-placement="top" title="Delete"><i class="ti-trash"></i></a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <!-- alert job -->
        <div class="tab-pane" id="alert">

            <div class="tr-single-box">
                <div class="tr-single-header">
                    <h4><i class="ti-bell"></i> Alert Jobs</h4>
                </div>

                <div class="tr-single-body">
                    <div class="alert alert-success">
                        <strong>Hi Dear!</strong> There is no any job alert.
                    </div>
                </div>
            </div>

        </div>

        <!-- CV & Cover letter -->
        <div class="tab-pane" id="cv">
            <!-- CV & Cover letter -->
            <div class="tr-single-box">
                <div class="tr-single-header">
                    <h4><i class="ti-desktop"></i> CV & Cover letter</h4>
                </div>

                <div class="tr-single-body">
                    <div class="row">

                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label>Full Name</label>
                                <input class="form-control" type="text" value="Adam Muklarial">
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label>Job Title</label>
                                <input class="form-control" type="text" value="Web Designer & Developer">
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label>Overview</label>
                                <div id="cv-cover"><p>Hello Description</p></div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <form>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

            </div>
            <!-- /CV -->

            <a href="#" class="btn btn-info btn-md full-width">Save & Update<i class="ml-2 ti-arrow-right"></i></a>

        </div>

        <!-- package -->
        <div class="tab-pane" id="package">
            <table class="table table-striped tbl-big center mb-5">
                <thead class="bg-primary text-light">
                    <tr>
                        <th scope="col">Select</th>
                        <th scope="col">Title</th>
                        <th scope="col">Jobs Remaining</th>
                        <th scope="col">Features Remaining</th>
                        <th scope="col">Renew Remaining</th>
                        <th scope="col">Duration</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            <input type="radio" class="radio-custom" id="basic" name="cm-r" checked>
                            <label for="basic" class="radio-custom-label"></label>
                        </th>
                        <td>Basic</td>
                        <td>15</td>
                        <td>07</td>
                        <td>5</td>
                        <td>30 Days</td>
                    </tr>
                    <tr>
                        <th>
                            <input type="radio" class="radio-custom" id="premium" name="cm-r">
                            <label for="premium" class="radio-custom-label"></label>
                        </th>
                        <td>Premium</td>
                        <td>18</td>
                        <td>12</td>
                        <td>2</td>
                        <td>60 Days</td>
                    </tr>

                </tbody>
            </table>

            <table class="table table-striped tbl-big center mb-5">
                <thead class="bg-primary text-light">
                    <tr>
                        <th scope="col">Select</th>
                        <th scope="col">Title</th>
                        <th scope="col">Price</th>
                        <th scope="col">Jobs Posting</th>
                        <th scope="col">Feature Jobs</th>
                        <th scope="col">Renew Jobs</th>
                        <th scope="col">Duration</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            <input type="radio" class="radio-custom" id="basic-p" name="nm-r" checked>
                            <label for="basic-p" class="radio-custom-label"></label>
                        </th>
                        <td>Basic</td>
                        <td>$49</td>
                        <td>50</td>
                        <td>50</td>
                        <td>30</td>
                        <td>30 Days</td>
                    </tr>
                    <tr>
                        <th>
                            <input type="radio" class="radio-custom" id="premium-p" name="nm-r">
                            <label for="premium-p" class="radio-custom-label"></label>
                        </th>
                        <td>Premium</td>
                        <td>$99</td>
                        <td>99</td>
                        <td>50</td>
                        <td>30</td>
                        <td>30 Days</td>
                    </tr>
                    <tr>
                        <th>
                            <input type="radio" class="radio-custom" id="standard-p" name="nm-r">
                            <label for="standard-p" class="radio-custom-label"></label>
                        </th>
                        <td>Standard</td>
                        <td>$149</td>
                        <td>170</td>
                        <td>10</td>
                        <td>50</td>
                        <td>60 Days</td>
                    </tr>
                    <tr>
                        <th>
                            <input type="radio" class="radio-custom" id="platinum-p" name="nm-r">
                            <label for="platinum-p" class="radio-custom-label"></label>
                        </th>
                        <td>Platinum</td>
                        <td>$499</td>
                        <td>250</td>
                        <td>100</td>
                        <td>70</td>
                        <td>60 Days</td>
                    </tr>

                </tbody>
            </table>

            <button class="btn btn-md btn-info" type="submit">Continue<i class="ti-arrow-right ml-2"></i></button>
        </div>

        <!-- change-password -->
        <div class="tab-pane" id="change-password">
            <div class="tr-single-box">
                <div class="tr-single-header">
                    <h4><i class="lni-lock"></i> Change Password</h4>
                </div>

                <div class="tr-single-body">
                    <div class="form-group">
                        <label>Current Password</label>
                        <input class="form-control" type="password">
                    </div>
                    <div class="form-group">
                        <label>New Password</label>
                        <input class="form-control" type="password">
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input class="form-control" type="password">
                    </div>
                </div>

            </div>

            <a href="#" class="btn btn-info btn-md full-width">Save & Update<i class="ml-2 ti-arrow-right"></i></a>

        </div>

    </div>
</div>