
@{
    ViewData["Title"] = "My Resume";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="dashboard-body">
    <div class="dashboard-caption">

        <div class="dashboard-caption-header">
            <h4><i class="ti-settings"></i>Candidate Dashboard</h4>
        </div>

        <div class="dashboard-caption-wrap">

            <!-- Overview -->
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="dashboard-stat widget-1">
                        <div class="dashboard-stat-content"><h3><a href="@Url.Action("UploadResume", "Dashboard")" style="color:#fff;">Upload Resume</a></h3></div>
                        <div class="dashboard-stat-icon"><i class="ti-location-pin"></i></div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="dashboard-stat widget-2">
                        <div class="dashboard-stat-content"><h3><a href="@Url.Action("CreateResume", "Dashboard")" style="color:#fff;">Create Resume</a></h3></div>
                        <div class="dashboard-stat-icon"><i class="ti-bell"></i></div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>